.textBoxContainer {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
  }
  
  .label {
    font-size: 14px;
    margin-bottom: 8px;
    color: #333333;
  }
  
  .textBox {
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    border-radius: 10px;
    background: #F6F7F9;
    border: none;
    color: #666;
  }
  
  .textBox:focus {
    border-color: #666666;
    outline: none;
  }
  